button {
    background-color: #7a6f74;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin: 20px;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: gray;
}
body {
    text-align: center;
    background-color: #a8b4a9;
}
h1 {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
}
h1:hover {
    background-color: grey;
    color: black;
}