button {
    background-color: #af4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #af2a27;
}

button:active {
    background-color: #af2a27;
}
body {
    text-align: center;
    background-color: rgb(87, 82, 82);
}
h1 {

    background-color: blue;
    color: yellow;
    border-radius: 20px;
}
h1:hover {
    background-color: yellow;
    color: blue;
}